@charset "utf-8";
/* CSS Document */
	@font-face {
		font-family: digital;
		src: url(../fonts/digital-7.ttf);
	}

	html, body {
		margin:0;
		padding:0;
		font-family:Tahoma, Geneva, sans-serif;
	}
	#main-content{
		height:100%;
		width:100%;
		background:#0F0;
		position:absolute;
	}
	#top-content{
		background:#f8f8f8;
		width:100%;
		height:60%;
		position:absolute;
	}
	#bot-content{
		background:#ccc;
		width:100%;
		height:40%;
		position:absolute;
		top:60%;
	}
	#top-left-content{
		position:absolute;
		left:0;
		width:75%;
		height:100%;
		overflow:scroll;
		overflow-x: hidden;
	}
	#top-right-content{
		position:absolute;
		right:0;
		width:25%;
		height:100%;
		background:#CCC;
		border-left:thin solid #999;
	}
	#menu-content{
		position:absolute;
		right:0;
		width:98%;
		height:94%;
		top:3%;
		left:1%;
	}
	#user-content{
		position:absolute;
		right:0;
		width:96%;
		height:94%;
		top:4%;
		left:3.5%;
	}
	#header-left-info{
		background:#666;
		position:absolute;
		width:100%;
		height:14%;
	}
	#order-list{
		position:absolute;
		top:14%;
		width:100%;
		height:100%;
	}
	
	#table-list-order{
		position:absolute;
		width:100%;
		height:74%;
		overflow:scroll;
		overflow-x:hidden;
	}
	
	#keypad{
		position:absolute;
		width:96%;
		height:84%;
		top:16%;
		right:2%;		
	}
	.num-keypad{
		position:absolute;
		width:25%;
		height:25%;
		text-align:center;
		box-shadow:inset 0px 0px 5px 0px #999;
		background-color:#f9f9f9;
		border:1px solid #b2b8ad;
		display:inline-block;
		cursor:pointer;
		text-decoration:none;
		color:#999;
		font-size:20px;
		line-height:380%;
		font-weight:bold;
	}
	.num-keypad:hover {
		background-color:#e9e9e9;
	}
	.dua{
		left:25%;
	}
	.lima{
		top:25%;
		left:25%;
	}
	.delapan{
		top:50%;
		left:25%;
	}
	.nol{
		top:75%;
		left:25%;
	}
	.tiga{
		left:50%;
	}
	.enam{
		top:25%;
		left:50%;
	}
	.sembilan{
		top:50%;
		left:50%;
	}
	.min{
		top:75%;
		left:50%;
	}
	.empat{
		top:25%;
	}
	.tujuh{
		top:50%;
	}
	.plus{
		top:75%;
	}
	.kali{
		left:75%;
	}
	.bagi{
		top:25%;
		left:75%;
	}
	.enter{
		top:50%;
		left:75%;
		height:50% !important;
		line-height:750%;
		font-size:19px !important;
	}
	#header-bot-content{
		width:100%;
		height:9%;
		position:absolute;
		border-top:1px solid #999;
		border-bottom:1px solid #999;
		background:#666;
	}
	.menu-item{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align:center;
		width:12%;
		background:#09F;
		height:23.8%;
		margin-right:0.5%;
		margin-bottom:0.5%;
		position:relative;
		float:left;
		text-decoration:none;
		color:#FFF;
		overflow:hidden;
		cursor:pointer;
	}
	.menu-user{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align:center;
		width:31.5%;
		background:#333;
		height:23.8%;
		margin-right:1.5%;
		margin-bottom:0.5%;
		position:relative;
		float:left;
		text-decoration:none;
		color:#FFF;
		overflow:hidden;
		cursor:pointer;
	}
	
	.menu-void{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align:center;
		width:31.5%;
		background:#C3030B;
		height:23.8%;
		margin-right:1.5%;
		margin-bottom:0.5%;
		position:relative;
		float:left;
		text-decoration:none;
		color:#FFF;
		overflow:hidden;
		cursor:pointer;
	}
	
	.menu-logout{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align:center;
		width:31.5%;
		background:#333;
		height:100%;
		margin-right:1.5%;
		margin-bottom:0.5%;
		position:relative;
		float:left;
		text-decoration:none;
		color:#FFF;
		overflow:hidden;
		cursor:pointer;
	}
	.nav-pos-bot{
		position:absolute; width:100%; height:23.8%; bottom:0px;
	}
	.digit{
		width:90%;
		height:60%;
		position:absolute;
		top:24%;
		left:5%;
		font-size:30px;
		font-weight:bold;
		color:#f8f8f8;
		font-family:digital;
		word-spacing:4px;
		letter-spacing: 3px;
	}
	
	.totalpay{
		color:#FC0;
		left:2%;
	}
	
	.table-list th{
		font-size:11px;
		padding:5px;
		background:#eee;
	}
	
	.table-list tr{
		cursor:pointer;
	}
	
	.table-list tr:hover, .table-list tr:focus{
		background:#CCC;
	}
	
	.table-list td{
		font-size:11px;
		padding:3px 5px;
		border:thin solid #eee;
	}
	#info-header td{
		background:#333;
		padding:3px 5px;
		font-size:11px;
		color:#CCC;
		border-top:1px solid #3F0;
		border-bottom:1px solid #3F0;
		border-right:1px solid #3F0;
	}
	
	.pay-modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content */
	.pay-modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 400px;
	}
	
	/* The Close Button */
	.pay-close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	
	.pay-close:hover,
	.pay-close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}