 .ui-body-e, .ui-overlay-e {
			background: #fff url("img/background.png") repeat-x scroll left bottom;
}

.logo{
	margin-top:30px;
	text-align: center;
	width: 100% !important;
	
}
h1{
	font-size :40px;
	color:#000;
}
.type-interior .ui-content{
	border:none;
}