

#vacancy .page_navigation {
    margin: 30px 0 0 0;
    float: right;
    position: relative;
    z-index: 1;
}

#quickfind .page_navigation {
	float: right;
	margin: 0 0 3% 0;
}
  
#vacancy .page_navigation  a,
#quickfind .page_navigation  a{
	text-align: center;
    margin: 0 10px 0 0;
    text-decoration:none;
    display: inline-block;
    padding: 3px 6px;
	font-size: 18px;
	color: #fabb00;
	width: 25px;
}
  
#vacancy .page_navigation a:hover,
#quickfind .page_navigation a:hover {
    color: #e42e0f !important;
    text-decoration: none;
}
  
#vacancy .active_page,
#quickfind .active_page{
    background: #e42e0f;
	border-radius: 3px;
	color: #fff !important;
}

#vacancy .active_page:hover,
#quickfind .active_page:hover{
	color: #fff !important;
}

#vacancy .page_navigation  .first_link,
#quickfind .page_navigation  .first_link,
#vacancy .page_navigation  .last_link,
#quickfind .page_navigation  .last_link,
#vacancy .page_navigation  .first_link,
#quickfind .page_navigation  .first_link,
#vacancy .page_navigation  .last_link,
#quickfind .page_navigation  .last_link {
    display: none;
}
  
#vacancy .previous_link,
#quickfind .previous_link {
	display: block;
	padding: 5px 10px;
	text-indent: -9999px;
	background: url(../img/page_prev.png) no-repeat center center;
}
  
#vacancy .next_link,
#quickfind .next_link {
	display: block;
	padding: 5px 10px;
	text-indent: -9999px;
	background: url(../img/page_next.png) no-repeat center center;
}
