.styled-select {
    background: #FFFFFF;
    border: 1px dashed #ff9393;
    color: #000000;
    display: inline-block;
	font-family: inherit;
	font-size: 14px;
	text-align: left !important;
	line-height: 26px;
    margin: 0 2px;
    position: relative;
	top: 2px;
	width: 50%;
	height: 26px;
}
.styled-select, .styled-select .curr {
    padding: 0 20px 0 10px;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;	
}
.styled-select select {
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}
.styled-select .curr {
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.styled-select .curr:after {
	width: 34px;
	height: 28px;
	background: url(../img/select.png) no-repeat center top;
    content: "";
    display: block;
    position: absolute;
    right: -1px;
    top: -1px;
}
.styled-select ul {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -1px;
    top: 100%;
    z-index: 99;
}
.styled-select li {
    cursor: pointer;
    list-style: none outside none;
    margin: 0;
   padding: 4px;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;	
}
.styled-select li:hover {
    background-color: #fff7a9;
    color: #000000;
}
.styled-select li.selected, .styled-select li.selected:hover {
    background-color: #3399FF;
    color: #000000;
}
.styled-select li.disabled, .styled-select li.disabled:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #bbb;
    cursor: text;
    font-style: italic;
}
.styled-select .curr.focused {
    background-color: #EEEEEE;
}
