/* Tiny Scrollbar */
#modalcart_scroll { width: 100%; margin: 20px 0 10px; }
#modalcart_scroll .viewport { width: 98%; height: 250px; overflow: hidden; position: relative; }
#modalcart_scroll .overview { width: 100%; list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#modalcart_scroll .scrollbar{ background: #e6e4e4; position: relative; background-position: 0 0; float: right; width: 1px; }
#modalcart_scroll .track { background: #e6e4e4; height: 100%; width:1px; position: relative; padding: 0 1px; }
#modalcart_scroll .thumb { background: #f7ca5a; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -3px; width: 7px;}
#modalcart_scroll .thumb .end {display: none;}
#modalcart_scroll .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
